<div id="balloon-container">

    <div class="big-message">
    

        Coucou c'est Lucie! Je fête mon anniversaire le 24 septembre 2022 chez moi, de 15h30 à 17h30. Voici mon adresse
        :
        <br />52 rue de la Bidassoa
        <br />Bâtiment D, code 7265A, 3eme droite

        <br />Indique ici si tu peux venir ou non :

        <div class="answer">
            Je m'appelle <input type="text" /> <br>
<button>Je viens :)</button> <button>Je ne viens pas :(</button>
        </div>
      

    </div>

</div>