html { 
  scroll-behavior: smooth; 
}

body, html{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0;
    background-color:#ffc7ee
  }


  .big-message {
    font-size: 1.5em;
    width:100%;
    color:rgb(0, 124, 233);
    text-align: center;
    overflow: auto;
    height: 100vh;
    z-index: 10;
    padding: 5px;
  }

  .answer{
    color:#a357dd
  }

  .answer input{
    background-color: white;
    border: none;
    /* border-bottom: 2px solid rgb(255, 255, 167); */
    color: rgb(162, 162, 0);
    font-size: 1.5rem;
    font-weight: bold;
    width: 150px;
    margin-top: 20px;
    padding-left: 7px
  }

  .answer input:focus{
    border:none;
    outline: none;

  }


  .answer button {
    width: 300px;
    margin: 5px;
    font-size: 1.5rem;
    border-radius: 45px;
    padding: 15px;
    border:none;
  }
 
  .myname{
    margin-bottom: 30px;
  }


  .lucie{
    width: 150px;
    margin-top:20px;
    margin-bottom:20px;
  }




  button{
    cursor: pointer;
  }

  .address{
    color:#eb9e41;
  }