body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }


  .big-message {
    font-size: 25em;
    color:cadetblue;
    text-align: center;
    width: 100%;
  }
 
  